<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
   <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="nav-left">
          <a href="/ktneuro/" class="nav-logo"></a>
        </div>
        <div class="nav-right">
          <a href="/ktneuro/">Home</a>
          <a href="/ktneuro/projects.html">Projects</a>
          <a href="/ktneuro/researchexperience.html">Research</a>
          <a href="/ktneuro/resources.html">Resources</a>
          <a href="/ktneuro/about.html">About</a>
        </div>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>
  </body>
</html>
