<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
   <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="nav-right">
          <a href="/">Home</a>
          <a href="/about.html">About</a>
          <a href="/projects.html">Projects</a>
          <a href="/researchexperience.html">Research</a>
          <a href="/resources.html">Resources</a
        </div>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>
  </body>
</html>
