<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/ktneuro/assets/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/ktneuro/">Home</a> |
      <a href="/ktneuro/projects.html">Projects</a> |
      <a href="/ktneuro/researchexperience.html">Research</a> |
      <a href="/ktneuro/resources.html">Resources</a> |
      <a href="/ktneuro/about.html">About</a>
    </nav>
    <main>
      {{ content }}
    </main>
  </body>
</html>
